*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
}

main {
    display: grid;
    place-content: center;
    min-height: 100vh;
    }

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    border-radius: 1.25rem;
    box-shadow: 2px 2px 1em rgb(0, 0, 0, .2);
}

.imgBox  {
    width: 50%
}

 .imgBox img {
    width: 100%;
    max-height: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    display: block;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
 }
 

.contentBox {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1.5em;
    background-color: white;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    flex-shrink: 1;
    min-height: 100%;
}

span {
    display: inline-block;
}

.title {
    font-family: Montserrat;
    font-weight: 200;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: .5em;
    color: rgb(0, 0, 0, .5)
}

.subtitle {
    display: inline-block;
    font-size: 2em;
    font-family: Fraunces;
    font-weight: 800;
    line-height: 1em;
    margin-bottom: .5em;
}

.contentBox p {
    margin-bottom: 1em;
    line-height: 1.5em;
    color: rgb(0, 0, 0, .6);
}

.boxPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.price {
    font-family: Fraunces;
    color: hsl(158, 36%, 37%);
    font-size: 2em;
}

.price2 {
    font-size: .8em;
    text-decoration: line-through;
    color: rgb(0, 0, 0, .5);
}

.btn {
    width: 100%;
    background-color: hsl(158, 36%, 37%);
    border-radius: 1.25rem;
    padding: 1em;
    text-align: center;
    margin-top: 1em;
}

.btn a {
    text-decoration: none;
    color: white;
    display: block;
}

.btn img {
    margin-right: .5em;
}

@media screen and (max-width: 66.31em) {
    .wrapper {
        display: flex;
        flex-direction: column;
        width: 50%;
        min-height: 40%;
    }

    .imgBox {
        width: 100%;
    }

    .imgBox img {
        max-height: 15em;
        aspect-ratio: 1;
        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .contentBox {
        width: 100%;
        min-height: 15em;
        padding: 1em;
        border-bottom-left-radius: 1.25rem;
        border-bottom-right-radius: 1.25em;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        margin: 0;
    }

    .title {
        font-size: .8em;
    }

    .subtitle {
        font-size: 1em;
    }

    .price {
        font-size: 1.5em;
    }
}


